NODE_ENV=development
APP_PORT=3000
APP_NAME="Soundbox Backend"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=proxgy
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

FILE_DRIVER=local
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=
MINIO_FILE_MANAGER_URL=http://localhost:8089
FIlE_STORAGE_DESTINATION=/tmp

MAIL_HOST=smtp.gmail.com 
MAIL_PORT=587
MAIL_USER=vishantj20@gmail.com
MAIL_PASSWORD=
MAIL_IGNORE_TLS=false
MAIL_SECURE=false
MAIL_REQUIRE_TLS=true
MAIL_DEFAULT_EMAIL=vishant.sandilya@proxgy.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080
RECEPIENT_MAIL=vishant.sandilya@proxgy.com
CC_MAIL=abhi@proxgy.com
ALLOW_SELF_SIGN=true


AUTH_JWT_SECRET=secret
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=secret_for_refresh
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

WORKER_HOST=redis://localhost:6379/0

SUPER_ADMIN_EMAIL=admin@proxgy.com
SUPER_ADMIN_PASSWORD=test@123
BLACKLIST_COMMANDS_ID=testingpayment
FILE_PASSWORD=Boi@123

MERCHANT_ONBOARDING_CALLBACK=false
ENCRYPTION_METHOD='aes-256-cbc'

PASSWORD_RESET_EXPIRY_MINUTES=30
PASSWORD_EXPIRY_TIME=9000000000 
FORGOT_PASSWORD_URL=https://example.com/forgot-password
SEND_EMAIL_ON_MERCHANT_ONBOARDING=true
BULK_ONBOARD_LIMIT=100


########SMS#######################
SMS_ENDPOINT=''
SMS_BASIC_TOKEN=''
SMS_SENDER_ID='PPRXGY'
SMS_OTP_EXPIRY_TIME=300000
SMS_OTP_LENGTH=6

########### CALLBACK URL ###########
CALLBACK_SERVER_URL=http://localhost:3004

CBI_FORGOT_PASSWORD_URL='ipaddress'
########### MQTT ###########

MQTT_LISTENER_CONNECTION_STATUS_API=http://localhost:8443/mqtt/device/connection-status
